/data/

# Some git
/dataset/pdfminer
/dataset/*.log

# python
*.pyc

# vscode
/.vscode/

# Some model files
/nlp/embedding/model

*DS_Store

# CoreNLP analysis result
/nlp/sentiment/*.xml

# Experiment result
/works/lldq_review/imdb_sentiment_analysis/
/works/lldq_review/youtube_sentiment_analysis/
